[submodule "submodules/linmath.h"]
	path = submodules/linmath.h
	url = https://github.com/datenwolf/linmath.h.git
[submodule "submodules/cimgui"]
	path = submodules/cimgui
	url = https://github.com/cimgui/cimgui.git
